parameters:

services:
    # Автоматичне завантаження всіх класів з src/
    App\:
        resource: '../src/*'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Контролери
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # Сервіси
    App\Service\BookingManager:
        autowire: true
        autoconfigure: true

    App\Service\GuestManager:
        autowire: true
        autoconfigure: true

    App\Service\RoomManager:
        autowire: true
        autoconfigure: true

    App\Service\RequestCheckerService:
        autowire: true
        autoconfigure: true

    # Репозиторії
    App\Repository\:
        resource: '../src/Repository'

    App\EventListener\UserPostUpdateListener:
        tags:
            - { name: doctrine.event_listener, event: postUpdate }

    App\EventListener\OrderPostUpdateListener:
        tags:
            - { name: doctrine.event_listener, event: postUpdate }

    App\Extension\:
        resource: '../src/Extension'
        tags:
            - 'api_platform.doctrine.orm.query_extension.collection'
            - 'api_platform.doctrine.orm.query_extension.item'
