parameters:

services:
    # Автоматичне завантаження всіх класів з src/
    App\:
        resource: '../src/*'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Автоматичне завантаження всіх контролерів
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # Ручна реєстрація сервісів (менеджерів)
    App\Service\BookingManager:
        autowire: true
        autoconfigure: true

    App\Service\GuestManager:
        autowire: true
        autoconfigure: true

    App\Service\RoomManager:
        autowire: true
        autoconfigure: true

    App\Service\RequestCheckerService:
        autowire: true
        autoconfigure: true

    # Додатково (на випадок, якщо треба)
    App\Repository\:
        resource: '../src/Repository'
